/* 1.0 Browser Reset
================================================== */


html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-rendering: optimizelegibility;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
*,
*:before,
*:after { /* box layout to all elements */
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}
body {
	background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
	margin: 0px;
}
// ul li a,
// ol li a {
// 	color: #747474;
// }
// ul li a:hover,
// ol li a:hover {
// 	color: #6897e5;
// }
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
table, th, td {
	border: 1px solid rgba(0, 0, 0, 0.1);
}
table {
	border-collapse: separate;
	border-spacing: 0px;
	border-width: 1px 0 0 1px;
	margin-bottom: 20px;
	width: 100%;
}
caption, th {
	font-weight: normal;
	text-align: left;
}
th {
	text-transform: uppercase;
	color: #484848;
}
td, th {
	padding: 8px;
	border-width: 0 1px 1px 0;
}
a img {
	border: 0 none;
}
embed,
iframe,
object {
	max-width: 100%;
}
/* Internet Explorer 10 fix */
@-webkit-viewport {
	width: device-width;
}
@-moz-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}
/* Other fixes*/
*,*:before,*:after {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
/* Removes dotted line when focus */
:focus {
	outline-color: transparent;
  	outline-style: none;
}
/* Webkit */
::selection {
	background: #6897e5;
	color: #fff;
}
/* Gecko/Mozilla */
::-moz-selection {
	background: #6897e5;
	color: #fff;
}
