// $fa-font-path: "/wp-content/themes/pulsair-bubbles/fonts/";


$nav-line-height: 100px;
$nav-font-family: "Open Sans",sans-serif;
$title-font-family: "Open Sans",sans-serif;
$button-font-family: "Open Sans",sans-serif;
$body-font-family: 'Nunito', sans-serif;
$body-font-size: 18px;
$body-font-color: #484848;

$gallery-gutter: 16px;
