/* 8.0 Breadcrumb
================================================== */
.breadcrumb {
    margin-top: 6px;
    margin-bottom: 32px;
    font-size: 14px;
    color: #000;
    width: 100%;
    clear: both;
    float: left;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    a {
        color: $curious-blue;
        &:hover {
            color: $matisse-blue;
        }
    }
    .home:before {
        content: "\f409";
        display: inline-block;
        font-family: "Genericons";
        font-size: 18px;
        line-height: 18px;
        margin-right: 2px;
        margin-top: 3px;
        vertical-align: top;
        font-style: normal;
    }
}
