/* 5.0 Buttons
================================================== */

/* ----- Default Button ----- */

.vc_btn3, %vc_btn3 {
	// $btn-border--color: $t-btn-border--color;
	// $btn-background--color: $t-btn-border--color;
	// $btn-background-hover--color: $t-btn-background-hover--color;
	// $btn-text--color: $t-btn-text--color;
	// $btn-text-hover--color: $t-btn-text-hover--color;

	//color: $btn-text--color;
	//background-color: $btn-background--color;
	font-size: 16px;
	//font-family: $button-font-family;
	font-weight: 600;
	display: inline-block;
	text-align: center;
	padding: 10px 20px;
	//border: 1px solid $btn-border--color;
	border-radius: 0;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	&:hover, &:focus {
		//color: $btn-text-hover--color;
	    //background-color: $btn-background-hover--color;
	}
}

.vc_btn3--dark-wine-btn {
	@extend %vc_btn3;
	$btn-border--color: $color--scarlett-red;
	$btn-background--color: $color--scarlett-red;
	$btn-background-hover--color: $color--dark-rosewood-red;
	$btn-text--color: #ffffff;
	$btn-text-hover--color: #f7f7f7;
	background-color: $btn-background--color;
	border-color: $btn-border--color;

	&:hover, &:focus {
		color: $btn-text-hover--color;
		background-color: $btn-background-hover--color;
	}
}


.vc_btn3--agri-green-btn {
	@extend %vc_btn3;
	$btn-border--color: $color--dolly-yellow;
	$btn-border-hover--color: $color--mantis-green;
	$btn-background--color: $color--mantis-green;
	$btn-background-hover--color: $color--conifer-green;
	$btn-text--color: $color--dolly-yellow;
	$btn-text-hover--color: $color--parsley-green;
	color: $btn-text--color;
	background-color: $btn-background--color;
	border-color: $btn-border--color;

	&:hover, &:focus {
		color: $btn-text-hover--color;
		background-color: $btn-background-hover--color;
		border-color: $btn-border--color;
	}
}

solid-dark--agri

/* ----- More Link Button ----- */
a.more-link {
	position: relative;

	&:hover {
		&:after {
			visibility: visible;
			margin-left: 5px;
			opacity: 1;
				-moz-opacity: 1;
				filter:alpha(opacity=100);
		}
	}

	&:after {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content: '\f429';
		font-family: "Genericons";
		font-size: 18px;
		line-height: 20px;
		vertical-align: top;
		position: absolute;
		visibility: hidden;
		opacity: 0;
			-moz-opacity: 0;
			filter:alpha(opacity=0);
		margin-left: 30px;
		transition: all 500ms ease-in-out;
	}
}

/* ----- Go To Top Button ----- */
.go-to-top {
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 999;

	a {
		width: 45px;
		height: 45px;
		border-radius: 40px;
		display: block;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 24px;
		line-height: 44px;
		font-family: 'Genericons';
		background-color: #848484;
		text-align: center;
		color: #fff;
		opacity: 0.5;
			-moz-opacity: 0.5;
			filter:alpha(opacity=50);
		transition: all 0.3s ease-out;

		&:before {
			content: '\f432';
		}

		&:hover, &:focus {
			opacity: 1;
				-moz-opacity: 1;
				filter:alpha(opacity=100);
			background-color: #6897e5;
		}
	}
}
