/* --------------------------------------------
Column
-------------------------------------------- */
.column {
    margin: 0 -20px;
}

.one-column, .two-column, .three-column, .four-column, .column-1, .column-2, .column-3, .column-4 {
    float: left;
    padding: 0 20px 40px;
}

.one-column, .column-1 {
    width: 100%;
}

.two-column, .column-2 {
    width: 50%;
}

.three-column, .column-3 {
    width: 33.33%;
}

.four-column, .column-4 {
    width: 25%;
}

.two-column:nth-child(2n+3), .three-column:nth-child(3n+4), .four-column:nth-child(4n+5), .column-2:nth-child(2n+3), .column-3:nth-child(3n+4), .column-4:nth-child(4n+5) {
    clear: both;
}


/* All size smaller than 1301 */
@media only screen and (max-width: 1300px) {
    .container {
        max-width: 970px;
    }
}

@media only screen and (max-width: 1023px) {
    /* ----- Column ----- */
    .column {
        margin: 0 -15px;
    }
    .two-column,
    .three-column,
    .four-column {
        padding: 0  15px 40px;
    }
    .two-column,
    .four-column,
    .three-column,
    .four-column-full-width{
        width: 50%;
    }

    .three-column:nth-child(3n+4),
    .four-column:nth-child(4n+5),
    .column-2:nth-child(2n+3),
    .column-3:nth-child(3n+4),
    .column-4:nth-child(4n+5) {
        clear: none;
    }
    .three-column:nth-child(2n+3),
    .four-column:nth-child(2n+3) {
        clear: both;
    }

    #colophon .widget-area {
        margin: 0;
        display: block;
    }
    #colophon .column-1,
    #colophon .column-2,
    #colophon .column-3,
    #colophon .column-4 {
        border-right: none;
        width: 100%;
        float: none;
        padding: 0;
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    /* ----- Column ----- */
    .column {
        margin: 0;
    }
    .two-column,
    .three-column {
        padding: 0 0 30px;
        width: 100%;
    }
    .four-column-full-width,
    #primary .three-column,
    #primary .four-column-full-width,
    #primary .four-column {
        margin: 0;
        width: 100%;
    }
    .widget_team .column {
        margin: 0 -10px;
    }
    .four-column {
        padding: 0 10px 30px;
        width: 50%;
    }
    .three-column:nth-child(2n+3) {
        clear: none;
    }
}

@media only screen and (max-width: 480px) {
    .container{
		width: 300px;
	}
    /* ----- Column ----- */
	.column {
		margin: 0;
	}
	.widget_team .column {
		margin: 0;
	}
	.four-column {
		padding: 0 0 30px;
		width: 100%;
	}
	.four-column:nth-child(2n+3) {
		clear: none;
	}
}

@media only screen and (max-width: 319px) {
	.container {
		width: 96%;
	}
}
