/* 23.0 Comments
================================================== */

.comments-title {
  font-size: 30px;
  font-weight: normal;
  line-height: 38px;
  padding-bottom: 15px;
}

#main .comments-area {
  ul, ol {
    margin: 0 0 30px 30px;
  }
  ul ul, ol ol {
    margin-bottom: 0;
  }
}

.comments-area {
  article {
    margin: 24px 0;
    margin: 1.714285714rem 0;
    header {
      margin: 0 0 48px;
      margin: 0 0 3.428571429rem;
      overflow: hidden;
      position: relative;
      img {
        float: left;
        padding: 0;
        line-height: 0;
      }
      cite, time {
        display: block;
        margin-left: 85px;
        margin-left: 6.071428571rem;
      }
      cite {
        font-style: normal;
        font-size: 15px;
        font-size: 1.071428571rem;
        line-height: 1.42857143;
      }
      time {
        line-height: 1.714285714;
        text-decoration: none;
        font-size: 12px;
        font-size: 0.857142857rem;
        color: #484848;
      }
      a {
        text-decoration: none;
        color: #484848;
        &:hover {
          color: #21759b;
        }
      }
      cite a {
        color: #444;
        &:hover {
          text-decoration: underline;
        }
      }
      h4 {
        position: absolute;
        top: 0;
        right: 0;
        padding: 6px 12px;
        padding: 0.428571429rem 0.857142857rem;
        font-size: 12px;
        font-size: 0.857142857rem;
        font-weight: normal;
        color: #fff;
        background-repeat: repeat-x;
        background: #0088d0;
        background: -webkit-linear-gradient(#009cee, #0088d0);
        background: -moz-linear-gradient(#009cee, #0088d0);
        background: -ms-linear-gradient(#009cee, #0088d0);
        background: -o-linear-gradient(#009cee, #0088d0);
        background: -webkit-gradient(#009cee, #0088d0);
        background: linear-gradient(#009cee, #0088d0);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #007cbd;
      }
    }
  }
  li.bypostauthor cite span {
    position: absolute;
    margin-left: 5px;
    margin-left: 0.357142857rem;
    padding: 2px 5px;
    padding: 0.142857143rem 0.357142857rem;
    font-size: 10px;
    font-size: 0.714285714rem;
  }
}

a.comment-reply-link {
  font-size: 13px;
  font-size: 0.928571429rem;
  line-height: 1.846153846;
  color: #747474;
  &:hover {
    color: #21759b;
  }
}

.commentlist {
  .pingback {
    line-height: 1.714285714;
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
  }
  .children {
    margin-left: 48px;
    margin-left: 3.428571429rem;
  }
}

/* ----- Comment form ----- */

#respond {
  margin-top: 48px;
  margin-top: 3.428571429rem;
  h3#reply-title {
    font-size: 30px;
    font-weight: normal;
    line-height: 38px;
    padding-bottom: 15px;
    #cancel-comment-reply-link {
      margin-left: 10px;
      margin-left: 0.714285714rem;
      font-weight: normal;
      font-size: 12px;
      font-size: 0.857142857rem;
    }
  }
  form {
    margin: 24px 0;
    margin: 1.714285714rem 0;
    p {
      margin: 11px 0;
      margin: 0.785714286rem 0;
      &.logged-in-as {
        margin-bottom: 24px;
        margin-bottom: 1.714285714rem;
      }
    }
    label {
      display: block;
      line-height: 1.714285714;
    }
    input[type="text"], textarea {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 12px;
      font-size: 0.857142857rem;
      line-height: 1.714285714;
      padding: 10px;
      padding: 0.714285714rem;
      width: 100%;
    }
    p.form-allowed-tags {
      margin: 0;
      font-size: 12px;
      font-size: 0.857142857rem;
      line-height: 2;
      color: #484848;
    }
  }
}

.required {
  color: red;
}

label ~ span.required {
  display: block;
  float: left;
  margin: -18px 0 0 -16px;
  margin: -1.285714286rem 0 0 -1.142857143rem;
}
