/* 26.0 Footer
================================================== */
.site-footer {
	$self: &;

	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: 14px;
	line-height: 22px;
	margin-top: -1px;
	background-color: #f8f8f8;
	color: #848484;

	&__widget-area {
		margin: 0 -30px;
		padding: 50px 0 20px;
		display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
		flex-direction: row;

		p {
			margin-bottom: 15px;
		}

		.column-1,
		.column-2,
		.column-3,
		.column-4 {
			margin-bottom: 30px;
			padding: 0 30px;
			border-right: 1px solid rgba(0, 0, 0, 0.1);
			display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
			flex-direction: column;
			&:last-child {
				border-right: none;
			}
		}

	}

	&__site-info {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		padding: 0px 0px 15px;
		background-color: #f4f4f4;
		font-size: 14px;
		line-height: 21px;
		.copyright {
			float: left;
			padding-top: 15px;
			a {
				color: #747474;
				transition: all ease-in-out 0.25s;
				&:hover {
					color: #6897e5;
				}
			}
		}
	}
}
