/* 10.0 Forms
================================================== */
button, input, select, textarea {
  font-size: 100%;
  /* Corrects font size in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Appearance and consistency in IE6/IE7 */
}

form.search-form {
    position: relative;
}

input {
  &[type="text"], &[type="email"], &[type="url"], &[type="tel"], &[type="number"], &[type="date"], &[type="search"], &[type="password"] {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 30px;
    background-color: #fafafa;
  }
}

textarea {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 30px;
  background-color: #fafafa;
}

input {
  &[type="reset"], &[type="button"], &[type="submit"] {
    background-color: #6897e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: block;
    margin-bottom: 30px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  &[type="reset"]:hover, &[type="button"]:hover, &[type="submit"]:hover {
    background-color: #747474;
  }
  &[type="text"]:focus, &[type="email"]:focus, &[type="search"]:focus, &[type="password"]:focus {
    border-color: rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
}

textarea:focus {
  border-color: rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

input {
  &[type="checkbox"], &[type="radio"] {
    padding: 0;
    /* Addresses excess padding in IE8/9 */
  }
  &[type=search] {
    -webkit-appearance: none;
  }
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
    color: #fff;
    background-color: #08c;
    font-family: $button-font-family;
    font-weight: 600;
    border-radius: 0;
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

.gform_wrapper .gform_footer input.button:hover,
.gform_wrapper .gform_footer input[type=submit]:hover,
.gform_wrapper .gform_page_footer input.button:hover,
.gform_wrapper .gform_page_footer input[type=submit]:hover {
    color: #f7f7f7;
    background-color: #0074ad;
}
