/* 21.0 Gallery
================================================== */

.gallery {
    $self: &;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;

    &-item {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        img {
            width: 100%;
        }
    }

    &-caption {
        height: 100%;
        font-style: italic;
        font-size: 14px;
        line-height: 16px;
        padding: 12px 6px 12px 6px;
        flex: 0 1 auto;
        background-color: aliceblue;
        @media (max-width: 680px) {
            font-size: 12px;
            line-height: 14px;
        }
    }
}

.gallery-columns-1 .gallery-item {
    max-width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 48%;
    max-width: -webkit-calc(50% - $gallery-gutter);
    max-width: calc(50% - $gallery-gutter);
}

.gallery-columns-3 .gallery-item {
    padding: 0 #{$gallery-gutter/2} #{$gallery-gutter} #{$gallery-gutter/2};
    width: #{100%/3};
    max-width: 100%;
    @media (max-width: 768px) {
        margin: 0 #{$gallery-gutter/2} #{$gallery-gutter/2} 0;
        width: #{100%/2};
        max-width: calc(50% - #{$gallery-gutter/2});
    }
}

.gallery-columns-4 .gallery-item {
    padding: 0 #{$gallery-gutter/2} #{$gallery-gutter} #{$gallery-gutter/2};
    width: calc(#{100%/4});
    max-width: 100%;
    @media (max-width: 768px) {
        //max-width: 50%;
        //max-width: -webkit-calc(50% - $gallery-gutter);
        //max-width: calc(50% - #{$gallery-gutter/2});
        width: calc(#{100%/2});

    }
}

.gallery-columns-5 .gallery-item {
    max-width: 19%;
    max-width: -webkit-calc(20% - #{$gallery-gutter/2});
    max-width: calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
    max-width: 15%;
    max-width: -webkit-calc(16.7% - $gallery-gutter/2);
    max-width: calc(16.7% - $gallery-gutter/2);
}

.gallery-columns-7 .gallery-item {
    max-width: 13%;
    max-width: -webkit-calc(14.28% - $gallery-gutter);
    max-width: calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
    max-width: 11%;
    max-width: -webkit-calc(12.5% - $gallery-gutter);
    max-width: calc(12.5% - $gallery-gutter);
}

.gallery-columns-9 .gallery-item {
    max-width: 9%;
    max-width: -webkit-calc(11.1% - $gallery-gutter);
    max-width: calc(11.1% - $gallery-gutter);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
    //padding-right: 0;

}
@media (max-width: 768px) {
    .gallery-columns-3 .gallery-item:nth-of-type(3n) {
        //padding-right: #{$gallery-gutter/2};
    }
    .gallery-columns-4 .gallery-item:nth-of-type(4n) {
        //padding-right: #{$gallery-gutter/4};
    }
    .gallery-columns-4 .gallery-item:nth-of-type(2n) {
        //padding-right: 0;
    }
}

@media (max-width: 480px) {
    .gallery-columns-3 .gallery-item:nth-of-type(3n) {
        margin-right: #{$gallery-gutter/2};
    }
    .gallery-columns-4 .gallery-item:nth-of-type(4n) {
        margin-right: #{$gallery-gutter/2};
    }
    .gallery-columns-4 .gallery-item:nth-of-type(2n) {
        margin-right: 0;
    }
}
.gallery-columns-4 .gallery-item:nth-of-type(4n +1) {
    clear: both;
}
.gallery-columns-1 {
    &.gallery-size-medium figure.gallery-item:nth-of-type(1n+1), &.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1) {
        clear: left;
    }
}

.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1), .gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
    clear: left;
}
