/* 12.0 Images
================================================== */

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
    vertical-align: top;
    &.alignleft, &.alignright, &.aligncenter {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

figure {
    margin: 0;
}

.img-border {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
}

/* ----- Media ----- */

.page-content img.wp-smiley, .entry-content img.wp-smiley, .comment-content img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.wp-caption {
    margin-bottom: 20px;
    max-width: 100%;
    a {
        display: block;
        position: relative;
    }
    .wp-caption-text {
        margin-bottom: 0;
        padding: 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-style: italic;
    }
}



/* 22.0 Attachments
================================================== */

.image-attachment {
    div.attachment {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-width: 1px 0;
        margin: 0 -8.9% 1.625em;
        overflow: hidden;
        padding: 1.625em 1.625em 0;
        text-align: center;
        img {
            display: block;
            height: auto;
            margin: 0 auto 1.625em;
            max-width: 100%;
        }
        a {
            img {
                border-color: #f9f9f9;
            }
            &:focus img, &:hover img, &:active img {
                border-color: #ddd;
                background-color: #fff;
            }
        }
    }
    .entry-caption p {
        font-size: 10px;
        letter-spacing: 0.1em;
        line-height: 2.6em;
        margin: 0 0 2.6em;
        text-transform: uppercase;
    }
}
