/* 17.0 Navigation
================================================== */

.admin-bar .site-header.sticky-margin .sticky-header {
    margin-top: 32px;
}

/* ----- Top Header Bar ----- */

.site-header {
    &.sticky-margin {
        margin-bottom: 55px;
        .site-header__nav-logo {
            @include media(">phone") {
    			display: block;
    		}

        }
    }
}

.no-scroll {
    position: fixed;
}

.site-header {
    $self: &;

    &__branding {
        float: left;

        @include media(">phone") {
            padding-right: 50px;
        }
        @include media("<=phone") {
            margin-bottom: 13px;
            margin-top: 13px;
        }
    }

    &__logo {
        float: left;
        margin-right: 16px;

        @include media(">=phone") {
            line-height:$nav-line-height;
        }
        img {
            vertical-align: middle;
            width: 110px;
            max-width: 110px;
            height: auto;
            display: inline-block;

            @include media(">=phone") {
                width: 110px;
            }
            @include media("<phone") {
                width: 80px;
            }
        }
    }

    &__title {
        font-family: $title-font-family;
    	font-size: 20px;
    	font-weight: 600;
    	line-height: $nav-line-height;
    	float: left;
    	margin: 0;
    	padding: 0px;
        a {
        	color: #01009a;
        	display: block;
            transition: all ease-in-out 0.25s;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        width: 100%;
        max-width: 1170px;
    }

    &__nav-menu {
        width: 100%;
    }

    &__nav-title {
        padding-bottom: 0;
        font-size: 16px;
        max-width: 150px;
        width: 100%;
        a {
            color: #fff;
        }

    }

    &__nav-logo {
        display: none;
        margin-left: 0 !important;
        line-height: initial;
        transition: all ease-in-out 0.25s;
        max-width: 50px;
        width: 100%;

        &:hover, &:focus {
            img {
                opacity: 0.75;
            }
        }
        img {
            transition: all ease-in-out 0.25s;
            width: 50px;
        }
    }

    &__sticky {
        background-color: $curious-blue;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    0 1px 2px rgba(0, 0, 0, 0.15);  /* Firefox 3.5 - 3.6 */
        box-shadow:         0 1px 2px rgba(0, 0, 0, 0.15);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        width: 100%;
        z-index: 999;

        &:before {
            background-image: linear-gradient(to right, rgba(225, 225, 225, 0), rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 90%, rgba(225, 225, 225, 0));
            content: "";
            height: 1px;
            left: 0;
            margin: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 9999;
        }
    }
}

.site-header {
    @media only screen and (max-width: 1023px) {
        #site-title {
            display: none;
        }
    }
    .top-request {
        margin: 0;
        float: right;
        text-align: right;
        padding: 0;
        @media only screen and (max-width: 767px) {
            float:left;
            text-align:left;
        }
        @media (max-width: 680px) {
            display: none;
        }
        .header-search, .header-search-x {
            display: inline-block;
            margin: 0;
            padding: 13px;
            position: relative;
            right: initial;
            border-left: none;
            line-height: 18px;
            &:hover {
                background-color: rgba(0,0,0,0.05)
            }

        }
        .my-search-box {
            top: 56px !important;
            .search-field {
                margin-bottom: 0;
            }
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                float: left;
                display: block;
                position: relative;
                margin-right: 10px;
                line-height: $nav-line-height;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: #1d9cdf;
                    font-family: "Open Sans",sans-serif;
                    font-weight: 600;
                    font-size: 20px;
                    display: inline-block;
                    margin: 0 15px 0 0;
                    line-height: 48px;
                    transition: all ease-in-out 0.25s;

                    &:hover {
                        color: #747474;
                    }
                }
                &:after {
                    content: '';
                    right: 2px;
                    width: 1px;
                    height: 20px;
                    background-color: #999;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}


.site-header__nav-menu {
    display: flex;
    flex-direction: column;

    @include media(">phone") {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    @include media("<=phone") {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .menu {
        $self: &;
        &-item {
            transition: all ease-in-out 0.25s;
            @include media(">phone") {
                display: inline-block;
            }
            @include media("<=phone") {
                border-top: 1px dotted #ddd;
                display: block;
            }

            &:first-child {
                border-top: none;
            }

            a {
                color: #ffffff;
                display: block;
                font-family: $nav-font-family;
                font-weight: normal;
                text-align: left;
                font-size: 16px;
                font-weight: 700;
                transition: all ease-in-out 0.25s;
                @include media(">phone") {
                    padding: .5em 1em .5rem 1rem;
                }
                @include media("<=phone") {
                    padding: 0.75em 1em 0.75rem;
                }

                &:hover {
                    color: $nav-link-active-color;
                    background-color: #16669c;
                }
            }
            &:hover > a {
                color: $nav-link-active-color;
                background-color: #16669c;
            }
        }

        &-item-has-children {

            a {
                position: relative;
                padding-right: 2em;
                &:after {
                    @include media('>phone') {
                        content: '\f107';
                        font-family: FontAwesome;
                        right: 10px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #fff;
                    }
                }
            }


            &:hover {
                position: relative;

                .sub-menu {
                    @include media(">phone") {
                        overflow: hidden;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: flex-start;
                        opacity: 1;
                        visibility: visible;
                    }

                    li {
                        @include media(">phone") {
                            width: 50%;
                        }
                    }
                }
            }
            .sub-menu {
                @include media(">phone") {
                    top: 42px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 680px;
                    display: none;

                }
                @include media("<=phone") {
                    display: block;
                    margin-left: 1em;
                }
            }
        }
    }
}

.site-header__sticky {
    transition: height 400ms ease-in;
    @include media("<=phone") {
        overflow-y: scroll;
        height:0;
        &.toggled-on {
            height: 100vh;
            padding-bottom: 150px;
            // .nav-menu {
            //     margin-bottom: 100px;
            // }

        }
    }
}

ul.sub-menu, %sub-menu {
    list-style-type: none;
    line-height: 32px;
    transition: all ease-in-out 0.25s;

    @include media(">phone") {
        position: absolute;
        top: 100px;
        padding: .5rem;
        margin: 0;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
        background-color: $matisse-blue;
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity = 0);
        width: 200px;
        z-index: 9999;
        visibility: hidden;
    }
    @include media("<=phone") {
        padding: 0 0 22px 0;
    }
    li {
        a {
            float: none;
            line-height: 20px;
            height: inherit;
            color: $nav-link-color;
            text-transform: capitalize;
            font-family: $nav-font-family;
            font-size: 14px;
            font-weight: 600;
            @include media(">phone") {
                padding: .5em 1em .5rem;
            }
            @include media("<=phone") {
                padding: 0.75em 1.75em 0.75rem;
            }
            &:after {
                display: none;
            }
        }
    }
}

/* ----- Responsive Navigation ----- */
.menu-toggle,
.menu-toggle-2 {
    display: none;
}
.line-one,
.line-two,
.line-three {
    background-color: #6897e5;
}

.line-one, .line-two, .line-three {
    backface-visibility: hidden;
    display: block;
    height: 3px;
    margin: 8px auto;
        -webkit-transition: all 0.3s;
        -moz-transition: 	all 0.3s;
        -o-transition: 		all 0.3s;
    transition: 		all 0.3s;
    width: 100%;
}

.menu-toggle {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
    border: 0 none;
    padding: 4px 0 0;
    color: #666;
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: absolute;
    right: 32px;
    top: 50%;
    overflow: hidden;
    transform: translateY(-50%);
    @include media(">phone") {
        display: none;
    }
    @include media("<=phone") {
        display: block;
    }

    &.on {
        .line-one {
            @include media("<=phone") {
                width: 54px;
                transform: rotate(-45deg) translate(-10px, 5px);
            }
        }

        .line-two {
            @include media("<=phone") {
                opacity: 0;
                filter:alpha(opacity=0);
            }
        }

        .line-three {
            @include media("<=phone") {
                width: 54px;
                transform: rotate(45deg) translate(-10px, -5px);
            }
        }
    }
}
