
/* 18.0 Content
================================================== */
.blog, .single {
    .page--content {
      padding: 64px 0 50px;
    }
}


.page--content {
  padding: 32px 0 50px;
}

#primary {
  float: left;
  padding-right: 30px;
  width: 70%;
}

/* 19.0 Sidebars
================================================== */

#secondary {
    float: left;
    padding: 0 0 0 30px;
    width: 30%;
    border-left: 1px solid #eee;


    @include media("<=phone") {
        margin-top: 70px;
    }
}

/* ----- Pagination ----- */

.pagination {
  text-align: center;
  color: #747474;
  span {
    display: inline-block;
    float: none;
    margin-left: 3px;
  }
  a span {
    background-color: inherit;
    color: #747474;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
