/* Responsive Styles
================================================== */


/* All size smaller than 1024
================================================== */
@media only screen and (max-width: 1023px) {
	#primary,
	#secondary {
		margin-bottom: 50px;
		padding: 0px;
		float: none;
		width: 100%;
		border: none;
	}


}

/* All Mobile Screen ( smaller than 768px )
================================================== */
@media only screen and (max-width: 767px) {
	.comments-title,
	#respond h3#reply-title {
		font-size: 26px;
		line-height: 32px;
	}
	#main h1,
	#main h2,
	#main h3,
	#main h4,
	#main h5,
	#main h6 {
		padding-bottom: 10px;
	}
	hr {
		margin-bottom: 30px;
	}
	input[type="text"],
	input[type="email"],
	input[type="search"],
	input[type="password"],
	textarea,
	input[type="reset"],
	input[type="button"],
	input[type="submit"] {
		margin-bottom: 20px;
	}
	input.s {
		margin: 0;
	}

	.sticky-margin {
		margin: 0px;
	}
	#site-branding,
	#site-title a img {
		max-width: 420px;
	}

	.header-search,
	.header-search-x {
		display: none;
	}
	.header-social-block {
		border: none;
		float: left;
	}
	/* ----- Responsive Navigation ----- */
	#sticky_header {
		position: relative !important;
	}


	.page-header {
		padding: 10px 20px;
	}
	.page--content {
		padding-top: 50px;
	}

	#main .post {
		padding-bottom: 40px;
	}
	.small_image_blog .post-featured-image {
		width: 100%;
	}
	#main .sticky {
		padding: 10px 10px 0;
		margin-bottom: 40px;
	}
	#wp_page_numbers,
	.wp-pagenavi,
	#main ul.default-wp-page,
	.pagination {
		margin-bottom: 40px;
	}
	#wp_page_numbers ul li.page_info,
	.wp-pagenavi .pages {
		display: none;
	}
	.widget {
		margin-bottom: 40px;
	}


	.quote {
		padding: 10px;
		width: 100%;
	}

	#colophon .widget_posts {
		margin-bottom: 20px;
	}
}

/* All Mobile Screen ( smaller than 481px )
================================================== */
@media only screen and (max-width: 480px) {

	#main .sticky {
		padding: 15px 15px 0;
	}
	.btn-default {
		padding: 6px 18px;
		font-size: 13px;
	}
}
