/* #Search Form
================================================== */
.header-search, .header-search-x {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    color: #747474;
    cursor: pointer;
    display: block;
    font-family: 'Genericons';
    font-size: 18px;
    font-style: normal;
    margin: 28px 10px 0;
    padding-left: 10px;
    position: absolute;
    right: 0;
}

.header-search:before {
    content: '\f400';
}

.header-search-x:before {
    content: '\f401';
}

.header-search:hover, .header-search-x:hover {
    color: #6897e5;
}

/** hidden search field **/

#search-box {
    &:before {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: transparent transparent #ccc transparent;
        border-image: none;
        border-style: solid;
        border-width: 8px;
        content: "";
        height: 0px;
        position: absolute;
        top: -6px;
        width: 0px;
        right: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        z-index: -1;
    }
    display: none;
    float: left;
    width: 300px;
    background: transparent;
    height: auto;
    padding-top: 10px;
    margin-top: -10px;
    z-index: 9999;
    top: 72px;
    right: 0;
    position: absolute;
    -webkit-box-shadow: 0 6px 8px -6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 6px 8px -6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 8px -6px rgba(0, 0, 0, 0.15);
    #search-form {
        border: 1px solid #ccc;
    }
}
