/* 2.0 Typography
================================================== */
body,
button,
input,
select,
textarea {
	color: $body-font-color;
	font-size: 18px;
	font-family: $body-font-family;
	font-weight: 400;
	line-height: 27px;
	word-wrap: break-word;
	font-weight: 300;
	overflow-x: hidden;
}

/* ----- #Headings  ----- */
h1, h2, h3, h4, h5, h6 {
	color: #484848;
	font-family: $title-font-family;
	font-weight: 600;
	margin-top:0;
	padding-bottom: 20px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit
}
h1 {
	font-size: 32px;
	line-height: 37px;
	font-weight: 700;
}
h2 {
	font-size: 27px;
	line-height: 33px;
	font-weight: 600;
}
h3 {

	font-size: 24px;
	line-height: 26px;
	font-weight: 600;
}
h4 {
	font-size: 20px;
	line-height: 22px;
	font-weight: 600;
}
h5 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
}
h6 {
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
}

.highlight {
	font-weight: 500;
}

/* ----- #Text Elements  ----- */
p {
	font-family: $body-font-family;
	padding: 0;
	margin: 0 0 20px 0;
	line-height: 27px;
	font-size: $body-font-size;
}

li {
	font-family: $body-font-family;
	font-size: $body-font-size;
	line-height: 27px;
}

b, strong { font-weight: bold; }

dfn, cite, em, i {
	font-style: italic;
}

/* -----  #Blockquote shortcode start styles  ----- */
blockquote {
	background-color: #f4f4f4;
	border-left: 4px solid #747474;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	border-radius: 5px;
	color: $body-font-color;
	font-family: $title-font-family;
	font-size: 16px;
	font-style: italic;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
	hyphens: none;
	letter-spacing: 0.5px;
	margin-bottom: 40px;
	padding: 30px 25px 10px 30px;
	position: relative;
	quotes: none;
	line-height: 26px;
}
blockquote cite {
	font-style:normal;
	display:block;
}
blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}
address {
	display: block;
	margin: 0 0 1.6em;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 14px;
	line-height: 21px;
	white-space: pre;
	background-color: #f4f4f4;
	margin-bottom: 20px;
	overflow: auto;
	padding: 30px;
	clear: both;
}
code, kbd, tt, var {
	font: 14px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	line-height: 21px;
}
abbr,
acronym,
dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
	margin-bottom: 20px;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

.hidden {  display: none !important }

/* 3.0 Links
================================================== */
a {
	color: $curious-blue;
	text-decoration: none;
	cursor:pointer;
}
a:focus,
a:active,
a:hover {
	text-decoration: none;
	color: $nav-link-hover-color
}
