/* 25.0 Widgets
================================================== */


.widget {
	margin-bottom: 50px;
	a {
		font-weight: 400;
	}
}

.widget-title {
	font-size: 28px;
	line-height: 35px;
	padding-bottom: 20px;
}

.widget-title,
.widget-title a {
	color: $matisse-blue;
}
.widget-title a:hover {
	color: #6897e5;
}
.sidebar .widget-title {
	font-size: 20px;
	line-height: 27px;
	text-transform: uppercase;
}

/* Search Widget
================================================== */
input.search-field {
	height: 53px;
	margin: 0;
	width: 80%; /* fallback if needed */
	width: calc(100% - 55px);
	padding: 6px 8px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
	border-radius: 0;
	color: #747474;
    float: left;
    font-size: 18px;
    line-height: 25px;
    outline: none;
}

.search-submit {
	background-color: #eee;
	color: #aaa;
	border: 1px solid #ccc;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
	border-radius: 0;
	outline: none;
	margin-left: -1px;
	cursor: pointer;
	font-size: 30px;
	height: 53px;
	width: 55px;
	right: 0;
	    position: absolute;
}
.search-submit:hover .search-icon {
	color: #6897e5;
}
.search-icon:before {
	content: '\f400';
}
.search-icon {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 22px;
	font-family: 'Genericons';
	cursor: pointer;
	color: #747474;
	font-style: normal;
}

/* Contact Widget
================================================== */
.widget_contact {
}
.widget_contact ul li:before {
	margin-top: 3px;
	color: #848484;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: auto;
	font-size: 16px;
	line-height: 18px;
	font-family: 'Genericons';
	float: left;
	font-style: normal;
	margin-left: -25px;
}
.widget_contact ul,
.widget_contact ul li {
	padding: 0;
  	margin: 0;
  	list-style: none;
}
.widget_contact ul li {
	margin: 0 0 15px 25px;
}
.widget_contact ul li.phone-number:before {
	content: '\f437';
}
.widget_contact ul li.email:before {
	content: '\f410';
}
.widget_contact ul li.address:before {
	content: '\f417';
}
.widget_contact ul li.skype:before {
	content: '\f220';
}
.widget_contact ul li a {
	color: #848484;
}
.widget_contact ul li:hover:before,
.widget_contact ul li a:hover {
	color: #6897e5;
}

/* Calendar Widget
================================================== */
.widget_calendar #wp-calendar {
	width: 90%;
	margin: 0 auto;
}
.widget_calendar #wp-calendar caption,
.widget_calendar #wp-calendar th,
.widget_calendar #wp-calendar td {
	text-align: center;
}
.widget_calendar #wp-calendar caption {
	font-size: 18px;
	padding: 0 0 30px;
	text-transform: uppercase;
}
.widget_calendar #wp-calendar th,
.widget_calendar #wp-calendar tfoot td {
	background-color: rgba(0, 0, 0, 0.1);
}


/* Tag Cloud Widget
================================================== */
.widget_tag_cloud a {
	margin-right: 5px;
	margin-bottom: 10px;
	color: #747474;
	display: inline-block;
	padding: 6px 14px;
	border: 1px solid #ddd;
	font-size: 14px !important;
}
.widget_tag_cloud a:hover {
	background-color: #eee;
}


.site-footer__widget-area .widget {
	margin-bottom: 30px;
}

.site-footer__widget-area .widget_categories ul li a,
.site-footer__widget-area .widget_pages ul li a,
.site-footer__widget-area .widget_nav_menu ul li a,
.site-footer__widget-area .widget_recent_entries ul li a,
.site-footer__widget-area .widget_categories ul li a,
.site-footer__widget-area .widget_recent_comments ul li a,
.site-footer__widget-area .widget_meta ul li a,
.site-footer__widget-area .widget_rss ul li a {
	display: block;
	margin-bottom: 10px;
	transition: all ease-in-out 0.25s;
}
.site-footer__widget-area .widget_categories ul ul li a,
.site-footer__widget-area .widget_pages ul ul li a,
.site-footer__widget-area .widget_nav_menu ul ul li a,
.site-footer__widget-area .widget_recent_entries ul ul li a,
.site-footer__widget-area .widget_categories ul ul li a,
.site-footer__widget-area .widget_recent_comments ul ul li a,
.site-footer__widget-area .widget_meta ul ul li a,
.site-footer__widget-area .widget_rss ul ul li a {
	padding-left: 20px;
}
.site-footer__widget-area .widget_categories ul ul ul li a,
.site-footer__widget-area .widget_pages ul ul ul li a,
.site-footer__widget-area .widget_nav_menu ul ul ul li a,
.site-footer__widget-area .widget_recent_entries ul ul ul li a,
.site-footer__widget-area .widget_categories ul ul ul li a,
.site-footer__widget-area .widget_recent_comments ul ul ul li a,
.site-footer__widget-area .widget_meta ul ul ul li a,
.site-footer__widget-area .widget_rss ul ul ul li a {
	padding-left: 30px;
}
.site-footer__widget-area .widget-title:after {
	background-color: #848484;
	content: " ";
	display: block;
	height: 1px;
	margin: 8px 0 auto;
	width: 60px;
}
.site-footer__widget-area .widget-title {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 25px;
}
#secondary .widget_recent_entries ul li {
	border: 1px solid #e4e4e4;
	margin-bottom: 10px;
	padding: 6px 10px;
}
.widget_recent_entries ul li {
	margin-bottom: 10px;
}
.widget_recent_entries ul li a {
	display: block;
}
.widget_recent_entries ul li span {
	font-size: 13px;
}
.widget_categories ul li,
.widget_recent_comments ul li,
.widget_meta ul li,
.widget_rss ul li,
.widget_categories ul li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px 0px;
}
.widget_archive ul {
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.widget_archive ul li a {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 8px;
	display: block;
}
.widget_archive ul li a:hover {
	background-color: #f4f4f4;
}
.site-footer__widget-area .widget_posts .post-title {
	font-size: 15px;
	line-height: 22px;
	padding-bottom: 0px;
}
