// .vc_section.vc_section-has-fill,
// .vc_section.vc_section-has-fill+.vc_row-full-width+.vc_section,
// .vc_section.vc_section-has-fill+.vc_section {
//     padding-top: 65px;
// }
.page-template {
    &.page {
        .vc_section {
            padding-top: 45px;
        }

        .entry-content {
            .vc_section {
                &:first-of-type {
                    padding-top: 0;
                }
            }
        }
    }
}

.page-template {
    .vc_section.vc_section-has-fill,
    .vc_section.vc_section-has-fill+.vc_row-full-width+.vc_section,
    .vc_section.vc_section-has-fill+.vc_section {
        padding-top: 45px;
    }
}
