/* 4.0 Body Structure
================================================== */

//  WP image poster for video embed
img.mejs-poster-img {
    height: auto;
    width: 100%;
    max-width: 100%;
}

.error404, .not-found {
    padding-top: 70px;
}

.entry-content {
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
        ol {
            list-style: upper-alpha;
            ol {
                list-style: lower-roman;
                ol {
                    list-style: lower-alpha;
                }
            }
        }
    }
}


#page {
    width: 100%;
    background-color: #fff;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
}

.container_container {
    max-width: 978px;
    margin: 0 auto;
}

#primary .container {
    max-width: 100%;
}


/* 7.0 Alignments
================================================== */

.alignleft {
    display: inline;
    float: left;
    margin-right: 20px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 20px;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}


/* 9.0 Universal Clearfix
================================================== */
/* slightly enhanced, universal clearfix hack */

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
    display: inline-block;
}

/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/* close commented backslash hack */

/* #Horizontal Line
================================================== */

hr {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

/* 20.0 Post
================================================== */

.entry-header {
    padding-bottom: 30px;
}

/* ----- Entry Titles ----- */
.entry-title {
    a {
        color: #484848;
        &:hover, &:focus, &:active {
            color: #6897e5;
        }
    }
}

/* ----- Entry Meta ----- */

.entry-meta {
    overflow: hidden;
    color: #747474;
    font-size: 14px;
    line-height: 21px;
    a {
        font-size: 14px;
        line-height: 21px;
    }
    span:hover, a:hover {
        //color: #6897e5;
    }
}

.entry-header .entry-meta {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 8px 5px 4px;
}

.cat-links, .tag-links {
    color: #747474;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    a {
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.cat-links a, .tag-links a {
    padding-bottom: 15px;
    display: inline-block;
}

.cat-links, .tag-link {
    margin-right: 15px;
}

.entry-meta {
    .entry-format, .author, .posted-on, .comments, .gallery {
        float: left;
        margin-right: 15px;
        margin-bottom: 5px;
    }
    .entry-format {
        color: #6897e5;
        a {
            color: #6897e5;
        }
    }
}

.entry-header .entry-meta .entry-format:before {
    font-size: 28px;
    line-height: 20px;
}

.entry-format:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: "Genericons";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 20px;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    vertical-align: top;
    margin-right: 3px;
    position: relative;
}

.entry-meta {
    .entry-format:before, .author:before, .posted-on:before, .comments:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-family: "Genericons";
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        line-height: 20px;
        speak: none;
        text-align: center;
        text-decoration: inherit;
        text-transform: none;
        vertical-align: top;
        margin-right: 3px;
        position: relative;
    }
    .author:before {
        content: '\f304';
    }
    .posted-on:before {
        content: '\f307';
    }
    .comments:before {
        content: '\f300';
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
}

/* Entry-format */

.format-aside .entry-format:before {
    content: "\f101";
}

.format-image .entry-format:before {
    content: "\f473";
}

.format-gallery .entry-format:before {
    content: "\f103";
}

.format-video .entry-format:before {
    content: "\f104";
}

.format-status .entry-format:before {
    content: "\f105";
}

.format-quote .entry-format:before {
    content: "\f106";
}

.format-link .entry-format:before {
    content: "\f107";
}

.format-chat .entry-format:before {
    content: "\f108";
}

.format-audio .entry-format:before {
    content: "\f109";
}

/* ----- Sticky Post ----- */

#main .sticky {
    background-color: #f4f4f4;
    padding: 20px 20px 0;
}

.sticky .post {
    margin-bottom: 50px;
}

/* ----- Tag-cat Links ----- */

.tag-links:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Genericons';
    vertical-align: top;
    width: 16px;
    height: 16px;
    font-size: 17px;
    color: #747474;
}

.cat-links:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Genericons';
    vertical-align: top;
    width: 16px;
    height: 16px;
    font-size: 17px;
    color: #747474;
    content: '\f301';
}

.tag-links:before {
    content: '\f302';
}

.entry-footer {
    border-top: 1px solid #ddd;
    padding: 15px 10px 0px;
    margin-bottom: 60px;
    overflow: hidden;
    display: block;
    float: left;
    width: 100%;
    a.more-link {
        float: right;
        font-size: 14px;
        padding-right: 20px;
        text-transform: uppercase;
    }
}

/* ----- Entry Meta Link Button ----- */

/* #Post Image
================================================== */

.post-featured-image {
    margin-bottom: 30px;
    text-align: left;
    a {
        display: block;
    }
}

/* #Entry Content
================================================== */

.entry-content {
    display: block;
    margin: 0px 0px 30px;
    dt {
        font-weight: bold;
    }
}

.comment-content dt {
    font-weight: bold;
}

.entry-content dd, .comment-content dd {
    margin-bottom: 20px;
}

.entry-content td, .comment-content td {
    padding: 8px;
}

.entry-content {
    ul, ol {
        margin: 0px 0px 30px 30px;
    }
    li > {
        ul, ol {
            margin-bottom: 0px;
        }
    }
}
