$color--white: #ffffff;
$color--black: #000000;
$color--azure-blue: #0088cc;
$color--light-azure-blue: #009BFF;
$color--cerulean-blue: #0074ad;
$curious-blue: #1D9CDF;
$seagull-blue: #77C3EB;
$matisse-blue: #16669c;


$nav-link-color: #01009a;
$nav-link-hover-color: #16669c;
$nav-link-active-color: $seagull-blue;


$t-link--text-color: #01009a;
$t-link--text-hover-color: $color--black;

$t-heading--text-color: $color--azure-blue;
$t-header--background-color: $color--white;
$t-navbar--bground-color: $color--azure-blue;

$t-nav--text-color: #01009a;
$t-nav--text-hover: #16669c;
$t-nav--text-bgcolor-hover: $color--azure-blue;
$t-submenu--background-color: $color--azure-blue;

$t-footer--link-color: $color--white;
$t-footer--link-hover-color: #1e0003;
$t-footer--background-color: $color--azure-blue;
$t-siteinfo--background-color: $color--azure-blue;


$t-btn-border--color: $color--azure-blue;
$t-btn-background--color: $color--azure-blue;
$t-btn-background-hover--color: $color--cerulean-blue;
$t-btn-text--color: #ffffff;
$t-btn-text-hover--color: #f7f7;


.vc_btn3, %vc_btn3 {
	$btn-border--color: $t-btn-border--color;
	$btn-background--color: $t-btn-border--color;
	$btn-background-hover--color: $t-btn-background-hover--color;
	$btn-text--color: $t-btn-text--color;
	$btn-text-hover--color: $t-btn-text-hover--color;

	color: $btn-text--color;
	background-color: $btn-background--color;
	font-family: $button-font-family;
	border: 1px solid $btn-border--color;
	&:hover, &:focus {
		color: $btn-text-hover--color;
	    background-color: $btn-background-hover--color;
	}
}


.theme-style__default {

	.page-template-landing-page-2021 {
		.site-header {
	        background-color: $color--light-azure-blue;
			border-bottom: 2px solid $curious-blue;
		}

		.site-footer {
		    border-top: 1px solid rgba(0, 0, 0, 0.1);
		    background-color: #006cb2;
		    color: #fff;
		}
	}

    .site-header {
        background-color: $t-header--background-color;

        .site-header__title {
            a {
                color: $t-nav--text-color;
                &:hover {
                    color: rgba($t-nav--text-hover, 1);
                }
            }
        }

        .site-header__links {
            li {
                &:after {
                    background-color: $t-nav--text-color;
                }
            }
            a {
                color: $t-nav--text-color;
                &:hover {
                    color: rgba($t-nav--text-hover, 1);
                }
            }
        }

        .menu-toggle {
            .line-one,
            .line-two,
            .line-three {
                background-color: $t-nav--text-color;

                // @include media("<=phone") {
                //     background-color: #6897e5;
                // }
            }
        }

        .header-search {
            &:before {
                color: $t-nav--text-color;
            }
        }

        &__sticky {
            background-color: $t-navbar--bground-color;
        }
    }

    .main-navigation {
        ul {
            li {
                @include media("<=phone") {
                    border-top: 1px dotted $color--dark-rosewood-red;
                }
                a {
                    color: $color--white;
                    &:hover, &:focus {
                        color: rgba($t-nav--text-color, 0.75);
                        background-color: rgba($t-nav--text-bgcolor-hover, 0.25);
                    }
                }
                &:hover {
                    > a {
                        color: rgba($t-nav--text-color, 0.75);
                        background-color: rgba($t-nav--text-bgcolor-hover, 0.25);
                    }
                }
            }
        }
        .sub-menu {
            background-color: $t-submenu--background-color;

            li {
                &:hover {
                    > a {
                        color: rgba($t-nav--text-color, 0.75);
                        background-color: rgba($t-nav--text-bgcolor-hover, 0.25);
                    }
                }
            }
        }
    }
}

.theme-style__default {

    .vc_section {
        &.parallax-hero-section {
            .hero-caption {
                background-color: rgba(20, 109, 156, 0.85);
            }
        }
    }

}

.theme-style__default {
    .site-footer {
        $self: &;
        background-color: $t-footer--background-color;

        &__site-info {
            background-color: $t-siteinfo--background-color;
        }

        .copyright {
            color: $color--white;

            a {
                color: $t-footer--link-color;
                font-weight: 600;
                &:hover, &:focus {
                    color: $t-footer--link-hover-color;
                }
            }
        }
    }

}

.theme-style__default {
    .site-footer {
        .widget_contact {
            ul {
                li {

                    &:before {
                        color: $color--white;
                    }
                }
            }
        }

        .widget {
            .widget-title {
                font-weight: bold;
                &:after {
                    background-color: #fff;
                }
            }

            .widget-title, .widget-title a {
                color: $color--white;
            }

            a {
                color: $t-footer--link-color;
                font-weight: 600;
                &:hover, &:focus {
                    color: $t-footer--link-hover-color;
                }
            }

            p {
                color: $color--white;
            }
        }
    }
}

.theme-style__default {
    .sidebar {
        .widget {
            .widget-title {
                color: $t-heading--text-color;
            }
        }
    }
}


.theme-style__default {
    .breadcrumb {
        a {
            color: $t-link--text-color;
            &:hover, &:focus {
                color:  $t-link--text-hover-color;
            }
        }
    }
}

.theme-style__default {
    .gallery {
        $self: &;
        &-caption {
            background-color: tint($color--scarlett-red, 75%);
        }
    }
}
