//https://www.color-hex.com/color-palette/95167

$color--white: #ffffff;
$color--black: #000000;

//Wine Colors
$color--scarlett-red: #990012;
$color--devil-red: #890010;
$color--maroon-red: #7A000E;
$color--rosewood-red: #6b000c;
$color--dark-rosewood-red: #5b000a;

$t-link--text-color: $color--scarlett-red;
$t-link--text-hover-color: $color--black;

$t-heading--text-color: $color--dark-rosewood-red;
$t-header--background-color: $color--scarlett-red;
$t-navbar--bground-color: $color--devil-red;

$t-nav--text-color: $color--white;
$t-nav--text-bgcolor-hover: $color--dark-rosewood-red;
$t-submenu--background-color: $color--devil-red;

$t-footer--link-color: $color--white;
$t-footer--link-hover-color: #1e0003;
$t-footer--background-color: $color--scarlett-red;
$t-siteinfo--background-color: $color--devil-red;

$t-btn-border--color: $color--scarlett-red;
$t-btn-background--color: $color--scarlett-red;
$t-btn-background-hover--color: $color--dark-rosewood-red;
$t-btn-text--color: #ffffff;
$t-btn-text-hover--color: #f7f7;

.theme-style__wine {
    .vc_btn3, %vc_btn3 {
    	$btn-border--color: $t-btn-border--color;
    	$btn-background--color: $t-btn-border--color;
    	$btn-background-hover--color: $t-btn-background-hover--color;
    	$btn-text--color: #ffffff;
    	$btn-text-hover--color: #f7f7f7;
    	color: $btn-text--color;
    	background-color: $btn-background--color;
    	font-family: $button-font-family;
    	border: 1px solid $btn-border--color;
    	&:hover, &:focus {
    		color: $btn-text-hover--color;
    	    background-color: $btn-background-hover--color;
    	}
    }
}

.theme-style__wine {
    .page--content {
        a:not(.vc_btn3) {
            color: $t-link--text-color;
            &:hover, &:focus {
                color:  $t-link--text-hover-color;
            }
        }
    }

}


.theme-style__wine {

    .site-header {
        background-color: $t-header--background-color;
        border-bottom: 2px solid $t-header--background-color;
        .site-header__title {
            a {
                color: $t-nav--text-color;
            }
        }

        .site-header__links {
            li {
                &:after {
                    background-color: $t-nav--text-color;
                }
            }
            a {
                color: $t-nav--text-color;
                &:hover {
                    color: rgba($t-nav--text-color, 0.75);
                }
            }
        }

        .menu-toggle {
            .line-one,
            .line-two,
            .line-three {
                background-color: $t-nav--text-color;

                // @include media("<=phone") {
                //     background-color: #6897e5;
                // }
            }
        }

        .header-search {
            &:before {
                color: $t-nav--text-color;
            }
        }

        &__sticky {
            background-color: $t-navbar--bground-color;
        }
    }

    .main-navigation {
        ul {
            li {
                @include media("<=phone") {
                    border-top: 1px dotted $color--dark-rosewood-red;
                }
                a {
                    color: $color--white;
                    &:hover, &:focus {
                        color: rgba($t-nav--text-color, 0.75);
                        background-color: rgba($t-nav--text-bgcolor-hover, 0.25);
                    }
                }
                &:hover {
                    > a {
                        color: rgba($t-nav--text-color, 0.75);
                        background-color: rgba($t-nav--text-bgcolor-hover, 0.25);
                    }
                }
            }
        }
        .sub-menu {
            background-color: $t-submenu--background-color;

            li {
                &:hover {
                    > a {
                        color: rgba($t-nav--text-color, 0.75);
                        background-color: rgba($t-nav--text-bgcolor-hover, 0.25);
                    }
                }
            }
        }
    }
}

.theme-style__wine {

    .vc_section {
        &.parallax-hero-section {
            .hero-caption {
                background-color: rgba($color--maroon-red, 0.65);
            }
        }
    }

}

.theme-style__wine {
    .site-footer {
        $self: &;
        background-color: $t-footer--background-color;

        &__site-info {
            background-color: $t-siteinfo--background-color;
        }

        .copyright {
            color: $color--white;

            a {
                color: $t-footer--link-color;
                font-weight: 600;
                &:hover, &:focus {
                    color: $t-footer--link-hover-color;
                }
            }
        }
    }

}

.theme-style__wine {
    .site-footer {
        .widget_contact {
            ul {
                li {

                    &:before {
                        color: $color--white;
                    }
                }
            }
        }

        .widget {
            .widget-title {
                font-weight: bold;
                &:after {
                    background-color: #fff;
                }
            }

            .widget-title, .widget-title a {
                color: $color--white;
            }

            a {
                color: $t-footer--link-color;
                font-weight: 600;
                &:hover, &:focus {
                    color: $t-footer--link-hover-color;
                }
            }

            p {
                color: $color--white;
            }
        }
    }
}

.theme-style__wine {
    .sidebar {
        .widget {
            .widget-title {
                color: $t-heading--text-color;
            }
        }
    }
}


.theme-style__wine {
    .breadcrumb {
        a {
            color: $t-link--text-color;
            &:hover, &:focus {
                color:  $t-link--text-hover-color;
            }
        }
    }
}

.theme-style__wine {
    .gallery {
        $self: &;
        &-caption {
            background-color: tint($color--scarlett-red, 75%);
        }
    }
}

.theme-style__wine {

    .page-template-landing-page-2021 {
		.site-header {
	        background-color: $t-header--background-color;
			border-bottom: 2px solid $t-header--background-color;
		}

		.site-footer {
		    border-top: 1px solid rgba($t-footer--background-color, 0.1);
		    background-color: $t-footer--background-color;
		    color: #fff;

            a {
                color: $t-footer--link-color;
                font-weight: 600;
                text-decoration: underline;
                &:hover, &:focus {
                    color: $t-footer--link-hover-color;
                }
            }
		}

        .gform_wrapper {
            textarea, input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
                border-color: rgba($t-footer--background-color, 0.2);
            }

            .gform_footer {
                input.button, input[type=submit], input.button, input[type=submit] {
                    color: #fff;
                    background-color: $color--rosewood-red;

                    &:hover, &:focus {
                        background-color: $color--scarlett-red;
                    }
                }
            }
        }
	}
}
