.vc-grid-equal {

}
.vc_grid-item {

    .vc_gitem-col {
        padding: 22px 22px 0;
    }

    .vc_gitem-post-data-source-post_title {
        h4 {
            padding-bottom: 0;
        }
    }

}
