.lp-gravity-form {
    padding: 18px;
    box-sizing: border-box;
    background: #ffffff;
    border-top: 3px solid #009BFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;

    h3 {
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 24px;
        font-weight: 700;
        color: #009BFF;
    }

    .wpb_content_element {
        margin-bottom: 0;
    }


}

.page-template-landing-page-2021 {

    .gform_confirmation_wrapper {
        padding: 16px 0 16px;
    }


    .gform_wrapper {
        .gform_button {
            display: block !important;
            width: 100% !important;
            margin: 0 !important;
        }

        ul.gform_fields li.gfield {
            padding-right: initial;
        }

        ul li.gfield {
            margin-top: 0;
            padding-top: 0;
        }

        .validation_message {
            padding-top: 0;
            padding-right: 5px;
            color: #790000;
            font-size: 10px;
            font-weight: 700;
            letter-spacing: normal;
        }

        input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
            border-radius: 2px;
            border-color: rgba(0, 155, 255, 0.20);
        }

        textarea {
            margin-top: 12px;
            border-radius: 2px;
            border-color: rgba(0, 155, 255, 0.20);
        }

        .top_label {
            div.ginput_container {
                margin-top: 0;
            }

            input.medium,
            select.medium {
                width: 100%;
            }
        }
    }
}

.page-template-landing-page-2021 {
    .lp-header {
        $self: &;

        &__container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }

        &__branding {
            margin-right: auto;
            @media (max-width: 768px) {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        &__title {
            margin-bottom: 0;
            align-self: center;
            justify-self: center;
            h1 {
                padding-bottom: 0;
                color: #fff;
                max-width: 591px;
                text-align: center;
                font-size: 26px;
                line-height: 28px;
                margin-top: 16px;
                margin-bottom: 16px;
            }
        }

        &__contact {
            margin-left: auto;
            ul {
                li {
                    a {
                        color: #fff;
                        &:hover, &:focus {
                            color: #2C3089;
                        }
                    }
                }
            }
        }

        &__logo {
            @media (max-width:768px) {
                margin-right: 0;
            }

        }

    }

    .page--content {
        padding: 0;
    }
    .entry-content {
        display: block;
        margin: 0;
    }
    i.fa.fa-star {
        color: orange;
    }

    .site-footer {
        padding: 32px 16px;
        text-align: center;

        a {
            color: #fff;
            transition: all ease-in-out 0.25s;
            text-decoration: underline;

            &:hover, &:focus {
                color: #2C3089;
            }
        }
    }


}

.page-template-landing-page-2021 {
    .lp-main {
        $self: &;
        &__intro {
            padding: 48px 0;
            background-color: #f7f9f9;
        }

        &__trusted-by {
            text-align: center;
            background: #fff;
            border-top: 1px solid #dbdce1;
            border-bottom: 1px solid #dbdce1;
            padding: 48px 0;
        }

        &__trusted-title {
            p {
                max-width: 680px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
