.page-template-landing-page {
    .psa--site-header {
        display: flex;
        align-items: center;
        justify-content: center;

        .site-header__logo {
            @media (max-width:768px) {
                margin-right: 0;
            }

        }
    }
    .psa--site-branding {
        @media (max-width: 768px) {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .psa--site-contact {
        margin-left: 2em;
    }

    .psa--site-title {
        margin-bottom: 0;
    }

    .top-header {
        border-bottom: 2px solid #1d9cdf;
    }
    .page--content {
        padding-top: 0;
    }

    i.fa.fa-star {
        color: orange;
    }

    .gform_wrapper .top_label input.medium,
    .gform_wrapper .top_label select.medium {
        width: 100%;
    }
}
