/* 24.0 Pages
================================================== */
/* ----- Page Title ----- */

.blog, .single {
   .page--content {
       padding-left: 15px;
       padding-right: 15px;
   }
}

.page-header {
  background-color: #6897e5;
  padding: 18px 20px;
  position: relative;
  overflow: hidden;
}

.error-404 {
  .page-header {
    padding: 15px 20px 50px;
    margin-top: 0px;
  }
  .page-title {
    padding: 0px;
  }
  .page-content {
    padding: 20px 0px;
  }
}

.page-title {
  font-size: 24px;
  line-height: 33px;
  color: #fff;
  float: left;
  padding: 0px;
  a {
    color: #fff;
  }
}

/* ---- WPB Interior Full Width Page ---- */

.page-template-wpb-interior-page {
    #primary {
        padding-right: 0;
        width: 100%;
    }
}
/* ----- Contact Page ----- */

.wpcf7-select {
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 0 30px;
  padding: 10px;
  width: 40%;
  display: block;
}

.wpcf7 p {
  margin-bottom: 0;
}

input {
  &[type="file"] {
    margin: 0 0 30px;
    display: block;
  }
  &[type="checkbox"] {
    margin: 0px 0px 30px;
  }
}
