.home {
    &.page-template-wpb-page {
        .page--content {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.page-template-wpb-interior-page {
    .entry-header, .breadcrumb {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.page-template-landing-page {
   .vc_column_container {
       padding-left: 15px;
       padding-right: 15px;
   }
}
.page-template-wpb-page {
    .vc_column_container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .page--content {
        padding-top: 32px;
        padding-bottom: 0;
    }
    .entry-content {
        margin: 0;
    }
}

.page-template-wpb-interior-page {
    .entry-content {
        @media (max-width: 1280px) {
            padding-left: 15px;
            padding-right: 15px;
            margin: 0;
        }
    }
}


.call-to-action {
    h2 {
        margin-bottom: 0;
        padding: 0.5em 0;
    }
    p {
        margin-bottom: 0
    }
}

.ps-client-logos  {
    @media (max-width: 767px) {
        .vc_grid-item {
            width: 50%;
            float: left !important;
        }
    }
}

.vc_section {
    &.parallax-hero-section {
        min-height: 680px;
        padding-top: 0;
        .hero-caption {
            background-color: rgba(20,109,156,0.85);
            padding: 2em 2em 1em;
            @media (max-width: 767px) {
                padding: 2em 1em 1em;
                h1 {
                    font-size: 20px !important;
                    line-height: 28px !important;
                }
                h1, h2, h3, h4, h5, h6, p {
                    text-align: center;
                }
            }

            h1, h2, h3, p, ul{
                color: #fff;
            }
            .vc_custom_heading {
                //margin-bottom: 0;
                padding-bottom: 20px !important;
            }
            .vc_column-inner {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}


.vc_section {
    &.parallax-section {
        min-height: 380px;
        padding-top: 0;
        margin-bottom: 0;
        .hero-caption {
            background-color: rgba(0,0,0,0.45);
            padding: 2em;
            @media (max-width: 767px) {
                padding: 1em;
                h1, h2, h3, h4, h5, h6, p {
                    text-align: center;
                }
            }
            h1, h2, h3, p, ul{
                color: #fff;
            }
        }
    }
}

section {
    &.vc_section {
        &.ps-client-logos, &.ps-testimonials {
            padding-top: 70px !important;
            padding-bottom: 60px;
        }
    }
}


.vc_btn3-container {
    @media (max-width: 768px) {
        margin-bottom: 0.5rem !important;
        width: 100%;
        .vc_general.vc_btn3 {
            width: 100%;
        }
    }
}
.vc_custom_heading {
    margin-bottom: 0;
    @media (max-width: 768px) {
        text-align: center !important;
        margin-bottom: 0 !important;
    }
}
